.productscreen {
    max-width: 1300px;
    margin: 1rem auto;
    display: flex;

}
/* moves paragraphs to the right side of the image */
.productscreen__left {
    display: flex;
    /* 80%  of the container = 0.8 */
    flex: 0.8;
}

.image__left {
    margin: 0;
    flex: 0.6;
    
    /* height: 300px;
    width: 300px; */

}

.info__left {
    margin: 1rem;
    flex: 0.4;
    background:none;
    height: fit-content;
    font-size: 1rem;
    color: antiquewhite;
}

.name__left{
    font-weight: bold;
    font-size: 1.3rem;
}

/* create boxes around all p tags */
.info__left > p,
.info__right > p {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}
.info__left >p:last-child,
.info__right>p:last-child {
    border-bottom: none;
}

.productscreen__right {
    flex: 0.2;
}
.info__right {
    width: 250px;
    margin: 1rem;
    /* background: white; */
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    color: antiquewhite;
    
    
}
/* spaces out the p tags so they don't touch and lines items up in a grid*/
.info__right  p {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
}

.info__right p > button {
    grid-column: 1/-1;
    padding: 10px 16px;
    background-color: #171717;
    color: #f4f4f4;
    border:1px solid #171717;
    cursor: pointer;
}
.info__right select {
    padding: 10px 16px;

}

/* mobile styling */
@media (max-width: 960px) {

    /* moves info below image at 960px */
    .productscreen {
        flex-direction: column;
    }
    .productscreen__left{
        flex-direction: column;
        flex: 1;
    }
    /* keeps the image size from shrinking to small */
    .image__left {
        flex: 1;
    }
    /* makes the right info span the entire width of a mobile screen , easier to read*/
    .info__right {
        width: 100%;
        margin: 0;
    }
    .productscreen__right{
        flex:1;
        padding: 1rem;
    }
}
